.nav {
  @extend %container;
  display: flex;
  align-items: center;
  margin-top: space(4);
  margin-bottom: 69px;
}
.nav__logo {
  width: 32px;
  flex: none;
}
.nav__menu {
  margin-left: auto;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}
.nav__menu > * + * {
  margin-left: space(3);
}
.nav a {
  transition: color .3s;
}
.nav a:hover,
.nav a[aria-current] {
  color: $orange;
}

// Burger
// ==================
.nav__burger {
  display: none;
  margin-left: auto;
  height: 37px;
  z-index: 51;
}
.nav__burger span {
  position: relative;
}
.nav__burger span,
.nav__burger span::after,
.nav__burger span::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: currentColor;
  display: block;
  transition: transform .4s, background .2s;
}
.nav__burger span::after,
.nav__burger span::before {
  position: absolute;
}
.nav__burger span::before {
  transform-origin: 0 50%;
  top: -6px;
}
.nav__burger span::after {
  bottom: -6px;
  transform-origin: 0 50%;
}

.nav__burger.is-active {
  span {
    background: transparent;
  }
  span::before {
    transform: translateY(-2px) rotate(45deg);
  }
  span::after {
    transform: rotate(-45deg);
  }
}

@include down(440) {
  .nav__burger {
    display: block;
  }
  .nav__menu {
    position: fixed;
    z-index: 50;
    background: rgba(#FFF, .95);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }
  .nav__menu > * {
    transform: translateY(-10px);
    transition: transform .3s, opacity .3s;
    opacity: 0;
  }


  @each $i in 2, 3, 4 {
    .nav__menu > *:nth-child(#{$i}n) {
      transition-delay: $i * .05s;
    }
  }

  .nav__menu.is-active {
    pointer-events: auto;
    display: flex;
    animation: menuIn 1s;
    opacity: 1;

    & > * {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .nav__menu > * + * {
    margin-left: 0;
    margin-top: space(4);
  }
}

@include up(1000) {
  .home .nav__menu {
    margin-left: 0;
    max-width: calc(517px - 32px);
    width: calc(51% - 72px);
    justify-content: flex-end;
  }
}
