.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
.pagination svg {
  width: 16px;
  height: 16px;
}
.pagination a {
  transition: .3s;
}
.pagination a:hover {
  color: $orange;
}
.pagination a svg {
  transition: transform .3s;
}
.pagination a:hover svg {
  transform: translateX(3px);
}
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.page-numbers.prev {
  transform: rotate(180deg);
}
.page-numbers.current {
  background: $orange;
  color: #FFF;
}
