<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agencia</title>
  <link rel="stylesheet" href="./css/style.scss">
  <script src="./js/main.js" defer></script>
</head>
<body class="{{bodyClass}}">
<header class="nav">
  <a href="index.njk" class="nav__logo" title="Page d'accueil">
    <img src="images/logo.svg" alt="">
  </a>
  <ul class="nav__menu">
    <li><a href="#">Acheter</a></li>
    <li><a href="listing.njk" aria-current="page">Louer</a></li>
    <li><a href="news.njk">Actualité</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <button class="nav__burger">
    <span></span>
  </button>
</header>

{% block body %}{% endblock %}

<footer class="footer container">
  <div class="footer__col">
    <div class="footer__title">Pages</div>
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Conditions d'utilisations</a></li>
      <li><a href="#">Politiques de confidentialités</a></li>
    </ul>
  </div>
  <div class="footer__col">
    <div class="footer__title">Pages</div>
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Conditions d'utilisations</a></li>
      <li><a href="#">Politiques de confidentialités</a></li>
    </ul>
  </div>
  <div class="footer__col">
    <div class="footer__title">Pages</div>
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Conditions d'utilisations</a></li>
      <li><a href="#">Politiques de confidentialités</a></li>
    </ul>
  </div>
  <div class="footer__col">
    <div class="footer__credits">© 2020 Grafikart Real Estate, Inc.</div>
    <div class="footer__social">
      <a href="#" title="Nous suivre sur twitter">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#twitter"></use>
        </svg>
      </a>
      <a href="#" title="Nous suivre sur Facebook">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#facebook"></use>
        </svg>
      </a>
      <a href="#" title="Nous suivre sur instagram">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#instagram"></use>
        </svg></a>
    </div>
  </div>
</footer>

</body>
</html>
